name: sonarCloud

on:
  workflow_dispatch:
  push:
    branches:
      - master
      - develop
  pull_request:
    branches: [ master ]

jobs:
  sonarCloud:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2
        with:
          # Disabling shallow clone is recommended for improving relevancy of reporting
          fetch-depth: 0
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11
      - name: Analyse with SonarQube
        run: gradle test jacocoTestReport sonarqube
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

# https://github.com/SonarSource/sonarcloud-github-action
# Do not use this GitHub action if you are in the following situations
# Your code is built with Gradle: use the SonarQube plugin for Gradle during the build
#      - name: Analyze sources
#        uses: sonarsource/sonarcloud-github-action@master
#        with:
#          args: >
#            -Dsonar.organization=gmuth
#            -Dsonar.projectKey=gmuth_ipp-client-kotlin
#        env:
#          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
